.filmItem {
  position: relative;
  max-width: 20%;
  margin: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(20, 10, 10, 0.4);
  transition: 0.3s;
}

.filmItem img {
  max-width: 50%;
}

.filmItem:hover {
  cursor: pointer;
  box-shadow: none;
}

.bi-trash {
  position: absolute;
  z-index: 100000000;
  right: 0;
  margin: 10px;
  transition: 0.3s;
}

.bi-trash:hover {
  fill: #e02446;
}

.bi-heart-fill {
  position: absolute;
  z-index: 10000;
	left: 0;
  margin: 10px;
  transition: 0.3s;
}
