.filmItem {
  position: relative;
  max-width: 20%;
  margin: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(20, 10, 10, 0.4);
  transition: 0.3s;
}

.filmItem img {
  max-width: 50%;
}

.filmItem:hover {
  cursor: pointer;
  box-shadow: none;
}

.bi-trash {
  position: absolute;
  z-index: 100000000;
  right: 0;
  margin: 10px;
  transition: 0.3s;
}

.bi-trash:hover {
  fill: #e02446;
}

.bi-heart-fill {
  position: absolute;
  z-index: 10000;
	left: 0;
  margin: 10px;
  transition: 0.3s;
}

@media (max-width: 575px) {
  .filmItem {
    max-width: 65%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .filmItem {
    max-width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .filmItem {
    max-width: 30%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .filmItem {
    max-width: 30%;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .filmItem {
    max-width: 30%;
  }
}
@media (min-width: 1500px) and (max-width: 1699px) {
  .filmItem {
    max-width: 25%;
  }
}
@media (min-width: 1700px) {
  .filmItem {
    max-width: 20%;
  }
}
